:root{
    --white:#fff;
    --black:#000;
    --highlightcolor:#0097B2;
}

body{

    margin:0px;
    padding: 0px;
}
.header{
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:50px;
}
.content{
    margin-left:64px;
    margin-right:64px;
}
.color_shade{
    height:32px;
    width:32px;
    border-radius: 22px;
    background-color: var(--highlightcolor);
    cursor: pointer;
}
.body{
    background-image: url(../img/bg_port.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    width: 100%;
    aspect-ratio: 16 / 9; /* Keeps a 16:9 aspect ratio */
}
.profile_dv{
    background-color: var(--white);
    border-radius: 22px;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.profile_dv img{
    object-fit: cover;
}
.contact_dv{
    height: auto;
    background-color: var(--white);
    border-radius: 18px;
    margin-top: -12%;
}
.footer{
    text-align: center;
    background-color: var(--highlightcolor);
    color: var(--white);
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    right: 0;
}
.profile_title{
    font-size: 26px;
}
.profile_designation{
    text-align: center;
}
.dv_contactdetails{
    background-color: #dfdfdfc9;
    border-radius: 9px;
}
.content_contact{
    margin-left:12px;
    margin-right: 12px;
}
.contact_icon{
    width: auto;
    height: 36px;
    background: #fff;
    text-align: center;
}
.contact_icon i{
    color: var(--highlightcolor);
}
.contact_details a{
    word-break: break-word;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.contact_details{
    line-height: 19px;
}