:root{
    --white:#fff;
    --black:#000;
    --highlightcolor:#0097B2;
}

body{

    margin:0px;
    padding: 0px;
}
.header{
    background-color: var(--white);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height:50px;
}
.content{
    margin-left:21px;
    margin-right:21px;
}
.color_shade{
    height:32px;
    width:32px;
    border-radius: 22px;
    background-color: var(--highlightcolor);
    cursor: pointer;
}
.body{
    background-image: url(../img/bg_port.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height:100vh; */
    width: 100%;
    aspect-ratio: 16 / 9; /* Keeps a 16:9 aspect ratio */
}
.profile_dv{
    background-color: var(--white);
    border-radius: 22px;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}
.profile_dv img{
    object-fit: cover;
}
.contact_dv{
    height: auto;
    background-color: var(--white);
    border-radius: 18px;
    margin-top: -14%;
}
.footer{
    text-align: center;
    background-color: var(--highlightcolor);
    color: var(--white);
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0;
    right: 0;
}
.profile_title{
    font-size: 26px;
}
.profile_designation{
    text-align: center;
}
.dv_contactdetails{
    background-color: #dfdfdfc9;
    border-radius: 9px;
}
.content_contact{
    margin-left:12px;
    margin-right: 12px;
}
.contact_icon{
    width: auto;
    height: 36px;
    background: #fff;
    text-align: center;
}
.contact_icon i{
    color: var(--highlightcolor);
}
.contact_details a{
    word-break: break-word;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.contact_details{
    line-height: 19px;
}
.about_dv{
    height: auto;
    background: #fff;
    margin-top: 8rem;
    border-radius: 18px;
    display: none;
}

.contact_sec{
    height: auto;
    background: #fff;
    margin-top: 8rem;
    border-radius: 18px;
    display:none;
}
.link_sec{
    height: 515px;
    background: #fff;
    margin-top: 8rem;
    border-radius: 18px;
}
.section_title{
    position: relative;
}
.section_title::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 140px;
    background-color: var(--highlightcolor);
    top: 20px;
    left: 119px;
}
.sec_desc{
    text-align: justify;
    font-size: 14px;
}
.icon_box{
    background: #D9D9D9;
    padding: 10px;
    border-radius: 8px;
    width: 23%;
    flex: 0 auto;
    text-align: center;
}
.sec_iconlist{
    flex-wrap: wrap;
    gap: 8px;
}
.link_sec ul li{
    list-style: none;
    margin-top: 38%;
}
.link_sec ul li a{
    color: #878181;
    font-size: 37px;
    background-color: #D9D9D9;
    cursor: pointer;
}
.link_sec ul li a:hover{
    background-color: var(--highlightcolor);
    color: var(--white);
    cursor: pointer;
}
.link_sec .active{
    background-color: var(--highlightcolor);
    color: var(--white);
    cursor: pointer;
}
.show{
    display:block;
}